<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="log4net.Config" value="log4net.config"/>
    <add key="log4net.Config.Watch" value="True"/>
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="From" value=""/>
    <add key="Destinations" value=""/> <!--';' separated-->
    <add key="Password" value=""/>
    <add key ="ProductModels" value="MN4W2QL/A;MN4Y2QL/A;MN502QL/A;MN4X2QL/A;MN512QL/A" />
    <add key ="Store" value="R368"/>
    <add key ="Location" value="08020"/>
    <add key="RequestUrl" value="http://www.apple.com/es/shop/retail/pickup-message?parts.0={0}&amp;location={1}"/>
  </appSettings>
  <log4net>
    <logger name="MyLogger">
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </logger>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="iPhone.log" />
      <appendToFile value="true" />
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd-hh:mm"/>
      <maximumFileSize value="1000KB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
</configuration>